body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

canvas {
  display: block;
  margin: auto;
}
.start_game_form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 30px;
}

.start_game_form input {
  text-align: start;
  margin-bottom: 20px;
}

.start_game_form label {
  width: 100%;
}

.button_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hidden {
  display: none !important;
}
